.loader {
    display:inline-block;
    float:center;
  border:7px solid #f3f3f3;
  border-radius: 50%;
  border-top: 7px solid #3498db;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/*.elementOrdine * {pointer-events: none;}*/
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/*.swal-text 
{
    animation: fa-spin 2s infinite linear;
    color: #79A5D1;
}
.swal-title 
{
    font-family:'Montserrat',sans-serif;
    font-size:14px;
}*/
.swal2-title
{
    font-family:'Montserrat',sans-serif;
    font-size:18px;
}
.swal2-content
{
    font-family:'Montserrat',sans-serif;
    font-size:13px;
}
.swal2-confirm,.swal2-cancel
{
    font-family:'Montserrat',sans-serif;
    font-size:13px;
}
@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
#scrollDownContainer,#scrollUpContainer
{
    display:none;
    position: fixed;
    left:20px;
    right:20px;
    height:100px;
    background-color: rgba(0,0,0,0.60);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:white;
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
#scrollDownContainer
{
    bottom:60px;
}
#scrollUpContainer
{
    top:70px;
}
#scrollDownContainer span,#scrollUpContainer span
{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    margin:5px;
}
#scrollDownContainer i,#scrollUpContainer i
{
    font-size: 18px;
    margin:5px;
}