#interventiDiManutenzioneContainer
{
    position: absolute;
    left:50;
    top:150;
    right:50;
    bottom:90;
}
#interventiDiManutenzioneSearchBarContainer
{
    display: none;
    float:left;
    height:30px;
    width:100%;
    background: transparent;
    margin-top:10px;
}
#interventiDiManutenzioneMainSearchInput
{
    width:100%;
    height:30px;
    border-radius:15px;
    /*border:1px solid #ddd;*/
    border:none;
    background-color: #F5F5F5;
    outline:none;
    padding-left:35px;
    font-family: 'Montserrat',sans-serif;
    font-size:12px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    background-image: url("../images/loupe.png");
	background-position: 13px center;
	background-repeat: no-repeat;
}
#interventiDiManutenzioneMainSearchInput:hover
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#formNuovoIntervento
{
    width:100%;
    height:100%;
    float: left;
    display: block;
    margin-bottom:0px;
}
.formNuovoInterventoInputContainer
{
    width:100%;
    float:left;
    display: block;
    min-height:40px;
    height: auto;
    line-height: 40px;
    box-sizing: border-box;
    padding-top:5px;
    padding-bottom: 5px;
}
.formNuovoInterventoInputLabel
{
    float:left;
    display: block;
    height:30px;
    line-height: 30px;
    width:150px;
    box-sizing: border-box;
    text-align: left;
    padding-left:20px;
    font-family: 'Montserrat',sans-serif;
    font-size:12px;
}
.formNuovoInterventoInput
{
    float:left;
    display: block;
    width:calc(100% - 190px);
    margin-left:20px;
    margin-right: 20px;
    height: 30px;
    min-height: 30px;
    font-family: 'Montserrat',sans-serif;
    font-size:12px;
    border-radius: 2px;
}
.formNuovoInterventoInput:hover
{
    border: 1px solid gray;
}   
textarea.formNuovoInterventoInput
{
    resize: vertical;
}
#formNuovoInterventoinviomail
{
    float:left;
    display: block;
    width:calc(100% - 228px);
    margin-left:0px;
    margin-right: 20px;
    height: 34px;
    min-height: 34px;
    font-family: 'Montserrat',sans-serif;
    font-size:12px;
    border-radius: 2px;
}
#formNuovoInterventoinviomail:hover
{
    border: 1px solid gray;
}
#formNuovoInterventopreventivo,#formNuovoInterventocheckboxinviomail,#formNuovoInterventochiuso,#formNuovoInterventofatturato,.formNuovoInterventostraordinarioordinario
{
    float:left;
    display: block;
    margin-left:20px;
    height:15px;
    width:15px;
    margin-top:7.5px;
    outline:none;
}
/*#formNuovoInterventofornitore
{
    float:left;
    display: block;
    max-width:calc(100% - 190px);
    margin-left:20px;
    margin-right: 20px;
    height: 30px;
    min-height: 30px;
    font-family: 'Montserrat',sans-serif;
    font-size:12px;
    border-radius: 2px;
}*/
.nuovoInterventoButtonContainer
{
    width:100%;
    height:30px;
    line-height:30px;
    margin-top:20px;
    float: left;
    display: block;
}
.nuovoInterventoButton
{
    display: block;
    width:30%;
    height:30px;
    background-color: #fff;
    font-family: 'Montserrat',sans-serif;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border:none;
    cursor: pointer;
    outline:none;
}
.nuovoInterventoButton:hover
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.nuovoInterventoButton:active
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#allegatoPreventivoContainer
{
    float:left;
    display: none;
    width:calc(100% - 228px);
    margin-left:20px;
    margin-right: 20px;
    height: 30px;
    min-height: 30px;
}
.buttonAllegaPreventivo
{
    display: block;
    width:180px;
    float: left;
    height:30px;
    background-color: #d43f3a;
    font-family: 'Montserrat',sans-serif;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border:none;
    cursor: pointer;
    outline:none;
    color:white;
}
.buttonAllegaPreventivo:hover
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#inputAllegaPreventivo
{
    display: none;
}
#fileContainerAllegaPreventivo
{
    float:left;
    display: block;
    margin-left:20px;
    width:calc(100% - 200px);
    height:30px;
}
#fileContainerAllegaPreventivo div
{
    height:30px;
    line-height: 30px;
    float:left;
    display: block;
    font-family: 'Montserrat',sans-serif;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    box-sizing: border-box;
    padding-left:10px;
    padding-right:5px;
}
#fileContainerAllegaPreventivo div:hover
{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
#fileContainerAllegaPreventivo button
{
    margin-left: 10px;
    height:20px;
    width: 20px;
    float:right;
    display: block;
    border:3px solid #EBEBEB;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    text-align: center;
    color:gray;
    padding:0px;
    margin-top:5px;
}
#formNuovoInterventoNuovaTipologiaContainer
{
    float:right;
    display: block;
    width:calc(100% - 190px);
    margin-left:20px;
    margin-right: 20px;
    height: 70px;
    min-height: 70px;
}
.formNuovoInterventoButtonNuovaTipologia
{
    width:130px;
    float: left;
    display: block;
    height:30px;
    font-family: 'Montserrat',sans-serif;
    font-size:12px;
    border-radius: 2px;
    border:none;
    outline:none;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    color:white;
}
.formNuovoInterventoButtonNuovaTipologia:hover
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.formNuovoInterventoButtonNuovaTipologia:active
{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}